body{
    background-color: rgb(16, 17, 82);
    color: rgb(60, 158, 223);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Monospace, "sans serif";
    scrollbar-color:  #64cff0 #64cff000;
}

.mount{
    background-color: rgb(70, 138, 138);
    padding: 600px;
    rotate: 46deg;
    position: fixed;
    right: 40%;
    top:610px
}

#mount2{
    background-color: rgb(61, 121, 121);
    padding: 300px;
    right: 38%;
}

.pageTitleBox{
    background-image: linear-gradient(to top, rgba(37, 76, 185, 0), rgba(37, 76, 185, 0), rgb(37, 77, 185), rgba(37, 76, 185, 0));
    width: fit-content;
    height: fit-content;
    padding: 5px 30px 30px;
    border-radius: 50px;

}

#pageTitle{
    font-size: 300%;
    color: rgb(134, 176, 255);
}

#tabs{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}

.tab{
    width: fit-content;
    background-color: #64cff04d;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

 .select{
    width: fit-content;
    background-color: #62b0f08f;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}


a:link, a:visited {
    color: rgb(60, 158, 223);
    text-decoration: none;
}

a:active{
    background-color: #62b0f08f;
} 

#pagecontent{
    
    background-color: #64cff04d;
    color:  rgb(16, 17, 82);
    font-size: 140%;
    padding: 30px;
    border-radius: 40px;
    height: 55vh;
    width: 90%;
    position: fixed;
    top:295px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#Abt{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#simpabt{
  width: 30%;  
}

#pfps{
    max-width: fit-content;
}

#pfps img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: solid 2px;
}

#currProj{
    width: 36%;
    max-height: 100%;
    text-align: center;
}

@keyframes scroll {
    from {transform: translateY(0%);}
    to {transform: translateY(-68.5%);}
}

#projs{
   height: 40vh;
   overflow: hidden; 
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   
}

.proj{
  width: 100%;
  
}

#scroll{
animation: scroll 10s linear infinite;
}

.proj img{
    max-width: 100%;
}

#abtTxt{
    width: 30%;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color:  #64cff0 #64cff000;
    scrollbar-gutter: stable;
}

#headmates{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#list{
    background-color: #64cff04d;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-color:  #64cff0 #64cff000;
    align-self: left;
}

#HMcont{
width: 89%;
height: 100%;
}

/*  border: solid white 1px;  */